* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 200vh;
    font-family: "DM Sans", serif;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

:root {
    --highlight-color: lightgray;
    --main-color: white;
}