* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "DM Sans", serif;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

:root {
    --highlight-color: #C6E7FF;
    --second-highlight-color: #D4F6FF;
    --main-color: #FBFBFB;
    --akzent-color: #FFDDAE;

    /* --highlight-color: #C6E7FF;
    --second-highlight-color: #D4F6FF;
    --main-color: #FBFBFB;
    --akzent-color: #FFDDAE; */
}

button, input {
    border: none;
}