* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #F1F0E8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #89A8B2;
    width: 500px;
    border-radius: 14px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.container h2 {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 20px;
    border-radius: 20px;
    width: 400px;
}
.text {
    flex: 1;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: lighter;
}
.addButton {
    border: none;
    padding: 11px 15px 11px 15px;
    border-radius: 18px;
    margin-left: 5px;
    background-color: #F1F0E8;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: transform 0.15s;
}
.addButton:hover {
    background-color: #B3C8CF;
    color: white;
    transform: translateY(4px);
}
.addButton:active {
    transform: translateY(0px);
}

.item-container {
    margin: 15px auto 20px;
    background-color: white;
    width: 450px;
    min-height: 10vh;
    border-radius: 12px;
    transform: rotate(deg);
}
.listOfItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    position: relative;
}
.listOfItems li {
    padding: 0 0 12px 0;
    list-style: none;
    cursor: pointer;
}
.listOfItems li::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(assets/uncheck.svg);
    background-size: cover;
    background-position: center;
    left: 8px;
    cursor: pointer;
}
.listOfItems .checked {
    color: #555;
    text-decoration: line-through;
}
.listOfItems .checked::before {
    background-image: url(assets/check.svg);
}

.delete-button {
    border: none;
    color: red;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.15s;
    background: transparent;
    cursor: pointer;
    margin-left: 10px;

}
.delete-button:hover {
    transform: scale(1.25) rotate(30deg);
}