/* General Styles */ 

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Taschenrechner interface */

.container {
    background-color: #78B3CE;
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: 1px solid black;

}
/* display desgin */
.display {
    height: 40px;
    width: 255px;
    margin-bottom: 12px;

    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    text-align: right;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;

    
}

.number-container {
    display: grid;
    grid-template-columns: 70px 70px 70px 50px ;
    row-gap: 8px;
    column-gap: 8px;
}

.btn {
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #FBF8EF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.15s;
    transition: transform 0.2s ease;
}
.btn:hover {
    background-color: #C9E6F0;
    transform: scale(1.12);
}
.btn:hover .fa-solid {
    color: black;
}
.btn:active {
    transform: scale(0.9);
}

.operator {
    background-color: #F96E2A;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

