.header {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color: white;
    padding: 8px;
}
/* left section start */
.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.hamburger-menu {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hamburger-menu:hover {
    background-color: lightpink;
}

.hamburger-menu i {
    font-size: 18px;
}

.gmail-logo {
    height: 55px;
    margin-left: 5px;
}
/* left section end */
/* middle section start */
.middle-section {
    flex: 1;
    display: flex;
    justify-content: start;
}

.search-section {
    flex: 1;
    max-width: 720px;
    height: 48px;
    background-color: lightpink;
    display: flex;
    align-items: center;
    border-radius: 25px;
    margin: 0 96px 0 44px;
    padding: 0 8px 0 8px;
}

.search-btn, .search-option-btn {
    border: none;
    background-color: lightcyan;
    background: transparent;
    height: 48px;
    width: 48px;
}
.search-section button {
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.search-section button:hover {
    background-color: #f2f2f2;
}
.search-section i {
    font-size: 18px;
}

.search-icon, .search-option {
    height: 25px;
    width: 25px;
}

.search-section input[type=text] {
    flex: 1;
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;
    font-size: 14px;
}
.search-section input:focus {
    border: none;
}
/* middle section end */
/* right section start */

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-section a {
    color: black;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.right-section a:hover {
    background-color: #f2f2f2;
}

.right-section i {
    font-size: 20px;
    padding: 8px;
    margin: 2px;
}


