* {
    margin: 0;
    padding: 0;
}
:root {
    --background-color: #4B5945;
    --text-color: rgb(41, 41, 41);
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    padding: 20px 40px 30px 40px;
    margin-top: 25px;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 16px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-content: start;
}
.container .form-container input {
    padding: 10px 10px 10px 10px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    width: 300px;
}
.container .form-container input:focus {
    outline: none;
}

.btn {
    margin-top: 20px;
    padding: 10px 60px 10px 60px;
    border: none;
    background-color: var(--background-color);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.25s ease;
}
.btn:hover {
    transform: scale(1.05);
}
.forgot-password-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.forgot-password-container .forgot-password {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
.forgot-password-container .forgot-password:hover {
    text-decoration: underline;
}

.login-btn, .register-btn {
    margin: 15px 0px 8px 0px;
    background-color: #B2C9AD;
    border: none;
    border-radius: 16px;
    padding: 4px 17px 4px 17px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    text-transform: capitalize;
}
.login-btn:hover, .register-btn:hover {
    opacity: 75%;
}
