* {
    margin: 0;
    padding: 0;
}
:root {
    --background-color: #4B5945;
    --text-color: rgb(41, 41, 41);
}

body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

h1 {
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    padding: 20px 40px 30px 40px;
    margin-top: 25px;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-content: start;
}
.container .form-container input {
    padding: 10px 10px 10px 10px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    width: 300px;
}
.container .form-container input:focus {
    outline: none;
}

.btn {
    margin-top: 20px;
    padding: 10px 60px 10px 60px;
    border: none;
    background-color: var(--background-color);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}

.forgot-password-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.forgot-password-container .forgot-password {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}