html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    overflow-x: hidden;
}

/* navbar start */
nav {
  background-color: #313d44;
  color: white;
  padding: 20px 50px;
}


.navTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-weight: 900;
    font-size: 30px;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #00668c;
    color: white;
    transition: all 0.25s ease;
}
.contactMe:hover {
    background-color: #d4eaf7;
    color: black;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}
.menuItem::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid white;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.25s ease;
}
.menuItem:hover::before {
    transform: scaleX(1);
}
/* navbar end */
/* slider start */
.slider {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
    background-color: #f5f4f1;
    
}
.sliderWrapper {
    display: flex;
    width: 400vw;
    transition: all 1s ease-in-out;
}
.sliderItem {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sliderItem img {
    height: 100vh;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 6%;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: black;
  padding: 10px;
  border: 1px solid #00668c;
  border-radius: 10px;
  z-index: 1;
}
.buyBtn {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: #00668c;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
    top: 50%;
    right: 100px;
}
.buyBtn:hover {
  background-color: #d4eaf7;
  color: black;
}
/* slider end  */
/* features start */

.features {
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.featureIcon {
    height: 50px;
    width: 50px;
}

.featureTitle {
    margin-top: 15px;
    font-weight: 600;
    font-size: 16px;
}
.featureDesc {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    width: 200px;
}


/* feautures end  */
/* product start */

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4f1;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
.productImg {
    height: 800px;
}
.productTitle {
    font-weight: 700;
}
.productPrice {
    font-weight: 400;
    font-style: italic;
}
.productDesc {
    margin-top: 25px;
}
.productDesc p{
    display: inline-block;
    width: 200px;
}
.productDesc div {
    display: flex;
    justify-content: center;
}

.productVariant {
    display: flex;
    justify-content: start;
}
.productVariant div {
    border: 1px solid black;
    padding: 10px;
    margin-right: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.productVariant div:hover {
    background-color: #d4eaf7;
}

/* product end */