html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    overflow-x: hidden;
}

/* navbar start */
nav {
  background-color: #313d44;
  color: white;
  padding: 20px 50px;
}


.navTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-weight: 900;
    font-size: 30px;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #00668c;
    color: white;
    transition: all 0.25s ease;
}
.btn:hover {
    background-color: #d4eaf7;
    color: black;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}
.menuItem::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid white;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.25s ease;
}
.menuItem:hover::before {
    transform: scaleX(1);
}
/* navbar end */
/* slider start */
.slider {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
    background-color: #f5f4f1;
    
}
.sliderWrapper {
    display: flex;
    width: 400vw;
    transition: all 1s ease-in-out;
}
.sliderItem {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sliderItem img {
    height: 100vh;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 6%;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: black;
  padding: 10px;
  border: 1px solid #00668c;
  border-radius: 10px;
  z-index: 1;
}
.buyBtn {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: #00668c;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 100px;
}
.buyBtn:hover {
  background-color: #d4eaf7;
  color: black;
}
/* slider end  */
/* features start */

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.featureIcon {
    height: 50px;
    width: 50px;
}

.featureTitle {
    margin-top: 15px;
    font-weight: 600;
    font-size: 16px;
}
.featureDesc {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    width: 200px;
}


/* feautures end  */
/* product start */

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4f1;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    margin-top: 30px;
    position: relative;
    flex-wrap: wrap;
}
.productImg {
    height: 100vh;
}
.productTitle {
    font-weight: 700;
}
.productPrice {
    font-weight: 400;
    font-style: italic;
}
.productDesc {
    margin-top: 25px;
}
.productDesc p{
    display: inline-block;
    width: 200px;
}
.productDesc div {
    display: flex;
}

.productVariant {
    display: flex;
    justify-content: start;
}
.productVariant div {
    border: 1px solid black;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.productVariant div:hover {
    background-color: #d4eaf7;
}

.productBtn {
    margin-top: 30px;
    float: right;
}

/* payment start */

.payment {
    position: absolute;
    height: 550px;
    width: 550px;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 40px;
    display: none;
    flex-direction: column;
    border-radius: 20px;

    box-shadow: 0px 0px 10px 1px rgba(92,92,92,0.71);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(92,92,92,0.71);
    -moz-box-shadow: 0px 0px 10px 1px rgba(92,92,92,0.71);
    
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5;
}

@keyframes slideIn {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideIn {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.payTitle {
    font-size: 24px;
}
.payInput, .payBtn {
    padding: 10px;
    border: 1px solid black;
    border-radius: 0px;
}
.cardInfo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}
.payBtn {
    margin-top: 10px;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: 700;
    background-color: #00668c;
    color: white;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease;
}
.close:hover {
    background-color: #d4eaf7;
    color: black;
}

/* payment end */


/* product end */

/* footer start */

footer {
    display: flex;
    flex-direction: column;
    background-color: #313d44;
}

.topFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fNewsletterTitle {
    color: #f5f4f1;
    font-size: 35px;
    text-align: center;
}
.fEmailInput {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 600px;
}
.fEmailInput label {
    color: black;
    width: 100%;
    font-weight: 700;
}
.fEmailInput input {
    padding: 10px;
    border: 1px solid grey;
    font-size: 16px;
    width: 100%;
}
.fBtn {
    margin-top: 5px;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #313d44;
    color: white;
    cursor: pointer;
}


.bottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 50px 40px;
    flex-wrap: wrap;
}

.colTitle {
    font-size: 20px;
    color: white;
}

.fList {
    list-style: none;
    padding: 0;
}
.fListItem {
    color: lightgrey;
    cursor: pointer;
    font-size: 14px;
}
.footerCol {
    flex-wrap: wrap;
    flex: 1;
    margin: 10px;
}

.footerIcon{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #f5f4f1;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.fInfoText {
    font-size: 0.8rem;
    color: grey;
}

/* footer end */

/* media queries */
@media screen and (max-width: 800px) {

    .slider {
        clip-path: none;
    }
    .sliderItem img {
        width: 90%;
        height: 90%;
    }
    .sliderTitle {
        display: none;
    }
    .sliderPrice {
        top: unset;
        bottom: -20px;
        left: 0;
        font-size: 40px;
    }
    .buyBtn {
        right: 0;
        top: 0;
    }
    .product{
        padding-bottom: 20px;
        clip-path: none;
    }

    .productImg{
        width: 80%;
        height: 80%;
    }
    .productTitle {
        text-align: center;
    }
    .feature {
        padding-top: 20px;
    }

    .payment {
        width: 70%;
        height: 700px;
    }
    .cardInfo {
        flex-direction: column;
    }
    .cardInfo input {
        margin-top: 10px;
    }

    .fEmailInput{
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .title {
        display: none;
    }
    .navBottom{
        flex-direction: column;
    }
    .menuItem {
        margin: 20px;
    }

    .slider {
        clip-path: none;
    }

    .sliderItem img {
        width: 90%;
        height: 90%;
    }
    .sliderPrice {
        top: unset;
        bottom: -20px;
        left: 0;
        font-size: 40px;
    }
    .buyBtn {
        right: 0;
        top: 0;
    }
    
    .product{
        clip-path: none;
    }
    .productDetails{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .productDesc p {
        width: 150px;
    }

    .feature{
        margin: 0;
    }


    .bottomFooter {
        flex-direction: column;
    }
}