.main-body {
    text-align: left;
    margin-bottom: 50px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    ". . . . ."
    "h h h h h"
    "h h h h h"
    "g g g g g"
    "g g g g g"
    ". . . . ."
    ;
}

.main-body .h1 {
    line-clamp: 2;
    margin-top: 60px;
    grid-area: h;
    font-size: clamp(1.5rem, 4.5rem, 5.5rem);
    font-weight: 300;
    font-family: "DM Serif Display";
    margin-left: 80px;
    position: relative;
}
.main-body .subtext {
    grid-area: p;
    position: absolute;
    right: 80px;
    top: 120px;
    font-size: 16px;
}
.img2, .img4 {
    transform: translateY(30px);
}

.four-images-section {
    width: 100%;
    grid-area: g;
    display: flex;
    justify-content: center;
    height: 180px;
}
.four-images-section img{
    flex: 25%; 
    margin: 60px 10px 0 10px;
    width: 100%;
    vertical-align: middle;
    height: 260px;
    border: 1px solid black;
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
}

.fade-animation {
    opacity: 1; /* Startzustand */
    transform: scale(1);
    transition: opacity 0.6s ease, transform 0.6s ease; /* Sanfte Animation */
}

.fade-animation.show {
    opacity: 1; /* Sichtbar */
    transform: scale(1); /* Endposition */
}
