.main-body {
    text-align: left;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    ". . . . ."
    "h h h h h"
    "h h h h h"
    "g g g g g"
    "g g g g g"
    ". . . . ."
    ;
}

.main-body .h1 {
    margin-top: 60px;
    grid-area: h;
    font-size: 72px;
    font-weight: 300;
    font-family: "DM Serif Display";
    margin-left: 80px;
    position: relative;
}
.main-body p {
    position: absolute;
    right: 80px;
    top: 120px;
    font-size: 16px;
}
.img2, .img4 {
    transform: translateY(25px);
}

.four-images-section {
    grid-area: g;
    display: flex;
    justify-content: center;

}
.four-images-section img{
    background-color: lightgray;
    width: 330px;
    height: 254px;
    margin: 60px 10px 0 10px;
    border-radius: 20px;
}

.fade-animation {
    opacity: 1; /* Startzustand */
    transform: scale(1);
    transition: opacity 0.6s ease, transform 0.6s ease; /* Sanfte Animation */
}

.fade-animation.show {
    opacity: 1; /* Sichtbar */
    transform: scale(1); /* Endposition */
}

:root {
    --scroll: 0;
}

.home-wrapper {
    position: sticky;
    top: 0;
    translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
    scale: calc(1 - (max(var(--scroll), 25) - 25) / 180); /* Reduziert die Größe */
    opacity: calc(1 - (max(var(--scroll), 25) - 25) / 100); /* Verringert die Deckkraft */
    transition: scale 0.1s ease-out, opacity 0.1s ease-out;
}
